apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  labels:
    app: my-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: flask-container
        image: 
        ports:
        - containerPort: 8000
